{# @var Symfony\Component\Finder\SplFileInfo mascot #}
{# @var App\Entity\MascotGroup[] mascot_groups #}
{# @var App\Entity\MascotGroup mascot_group #}
{% import "macro.html.twig" as macro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}Home ~{% endblock %}</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
            {% endblock %}

            {% block javascripts %}
                <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>
            {% endblock %}

            <meta http-equiv="X-UA-Compatible" content="IE=Edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <link rel="icon" href="{{ asset('assets/images/icon.png') }}" />
        {% endblock %}
    </head>
    <body class="{% block body_class %}py-4 px-md-4{% endblock %}" style="opacity: 0">
        {% block body %}
            <div class="container-fluid flex-grow-1 main-container">
                {% block body_title %}
                    <h1 class="mb-4 page-title-main">{{ body_title }}</h1>
                {% endblock %}

                <div class="row row-main flex-grow-1">
                    <div class="col-12 col-md-6">
                        {% block left_column %}
                            {% block rss_left %}
                                {% if rss_results|length %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5>rss results</h5>
                                            <div class="card-subtitle mb-2">
                                                <div class="row">
                                                    <div class="col-12 col-md-7">
                                                        dl me daddy
                                                    </div>
                                                    <div class="col-12 col-md-5 text-right">
                                                        <a href="{{ path('front.mark_all_as_seen') }}" class="app-white">mark all as seen</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% for result in rss_results %}
                                                    <div class="col-12 col-md-6">
                                                        <a href="{{ path('front.file_proxy', {file: result.id}) }}" class="btn btn-outline-primary btn-sm"
                                                           rel="noreferrer noopener">
                                                            {{ result.title }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                            {% block cards_left %}
                                {{ macro.card('example', 'This card is an example, you should extend this template, read more <a href="https://github.com/pkly/ly-page">here</a>', {'http://foo.bar': 'example'}) }}
                            {% endblock %}
                        {% endblock %}
                    </div>
                    <div class="col-12 col-md-6 mascot-container">
                        {% block right_column %}
                            {% if mascot is not null %}
                                {# since checking mimes is slow, just check extension instead #}
                                {% if mascot.extension in ['png', 'jpg', 'jpeg', 'gif', 'webp'] %}
                                    <img src="{{ mascot.relativePath }}" class="mascot img-mascot" />
                                {% else %}
                                    <video src="{{ mascot.relativePath }}" autoplay loop class="mascot video-mascot"></video>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            {% block footer %}
                <footer>
                    {% block footer_body %}
                        {% block footer_links %}
                            {{ macro.if_not_link('app_admin_dashboard_index', 'admin') }}
                        {% endblock %}
                        {% block footer_actions %}
                            <select id="mascot-group-select" class="form-select form-select-sm">
                                <option value="0" {% if mascot_group is null %}selected="selected"{% endif %}>None</option>
                                {% for group in mascot_groups %}
                                    <option value="{{ group.id }}" {% if mascot_group is not null and mascot_group.id == group.id %}selected="selected"{% endif %}>{{ group.title }}</option>
                                {% endfor %}
                            </select>
                        {% endblock %}
                    {% endblock %}
                </footer>
            {% endblock %}
        {% endblock %}
        {# this just makes it so the page can not flashbang you #}
        <script>
            window.onload = function () {
                document.getElementsByTagName("body").item(0).style.opacity = 1;
            };

            document.getElementById('mascot-group-select').onchange = function (e) {
                window.location.href = '{{ path('front.set_mascot_group', {'group': '_replace'}) }}'.replace('_replace', e.target.value);
            };
        </script>
    </body>
</html>
