{% extends "base.html.twig" %}
{% import "macro.html.twig" as macro %}

{% block cards_left %}
    {{ macro.card('new1', 'This card is an example, you should extend this template, read more <a href="https://github.com/pkly/ly-page">here</a>', {'http://foo.bar': 'example'}) }}
    {{ macro.card('new2', 'This card is an example, you should extend this template, read more <a href="https://github.com/pkly/ly-page">here</a>', {'http://foo.bar': 'example'}) }}
    {{ macro.card('new3', 'This card is an example, you should extend this template, read more <a href="https://github.com/pkly/ly-page">here</a>', {'http://foo.bar': 'example'}) }}
    {{ macro.card('new4', 'This card is an example, you should extend this template, read more <a href="https://github.com/pkly/ly-page">here</a>', {'http://foo.bar': 'example'}) }}
{% endblock %}

{% block footer_links %}
    {{ parent() }}
    <a href="/">
        test
    </a>
    <a href="/##">
        test2
    </a>
{% endblock %}